<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Argentina</h1>
<img src="https://imageshack.com/i/poQggnDsj" class="banner">
<h1>Lista Preeliminar Seleccion Arabia Saudita</h1>
<img src="https://imageshack.com/i/pnk4QZqfj" class="banner">
<h1>Lista Preeliminar Seleccion Mexico</h1>
<img src="https://imagizer.imageshack.com/img922/2380/Nj7tNW.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Polonia</h1>
<img src="https://imageshack.com/i/pokUgGZcj" class="banner">