<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
        <a href='fixture'><img src="https://media.tycsports.com/files/2019/09/03/68240/logo-qatar-2022_862x485.jpg" class="Fixture"></a> 
    </ul>
</nav>

<table class="table">
    <tr>
      <td><strong>Fecha</strong></td>
      <td class="td2"><strong>Enlace</strong></td>
      <td class="td3"><strong>Noticia</strong></td>
    </tr>
    
    <tr>
      <td class="td1">02/11/2022</td>
      <td class="td2">Se conocio la lesion de Giovani Lo Celso..</td>
      <td class="td3"><a href="https://acortar.link/oM93Ud">Para ver la nota completa click aki </a></td>
      
    </tr>
    
   
    </table>