.navegador{
    min-height: 70px;
    border-radius: 0 0 32px 32px;
    -webkit-box-shadow: 5px 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: 	#298f3a;
    z-index: 1030;
    align-items: center;
    
    display: flex;
    max-height: 70px;
}
    .APText{
    
    color: white;    
    font-size: 20px;
    width: 6%;
    }
    .Aprograma{
    
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    width:4%

    }
    .Fixture{
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 6%;
    }
    .table{
        
        border:2px solid black;
       
    }
    .td2{
        padding-left: 30px ;
    }
    .td3{
        padding-left: 130px ;
    }