.navegador{
    min-height: 70px;
    border-radius: 0 0 32px 32px;
    -webkit-box-shadow: 5px 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: 	#298f3a;
    z-index: 1030;
    align-items: center;
    margin-top: -15px;
    
    }
    .APText{
    padding-top: 90px;
    padding-left: 550px;
    color: white;
    padding-left: 150px;
    font-size: 20px;
    margin-left: 250px;
    }
    .Aprograma{
    max-height: 50px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;

    }
    .Fixture{
        padding-left: 350px;
        max-height: 50px;
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .table{
        
        border:2px solid black;
       
    }
    .td2{
        padding-left: 150px ;
    }
    .td3{
        padding-left: 150px ;
    }