<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Belgica</h1>
<img src="https://imagizer.imageshack.com/img924/4593/d7oyIj.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Canada</h1>
<img src="https://imageshack.com/i/po1LuX7Cj" class="banner">
<h1>Lista Preeliminar Seleccion Marruecos</h1>
<img src="https://imagizer.imageshack.com/img924/6899/kN3ZJv.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Croacia</h1>
<img src="https://imageshack.com/i/pncUlIc4j" class="banner">