<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Brasil</h1>
<img src="https://imageshack.com/i/pmYIN98Aj" class="banner">
<h1>Lista Preeliminar Seleccion Serbia</h1>
<img src="https://imageshack.com/i/poY41vlvj" class="banner">
<h1>Lista Preeliminar Seleccion Suiza</h1>
<img src="https://imageshack.com/i/pnhYsBxrj" class="banner">
<h1>Lista Preeliminar Seleccion Camerún</h1>
<img src="https://imageshack.com/i/pnKQYaSEj" class="banner">