<h1 class="titulo">Mundial para todos</h1>
<p class="parrafo">Esta pagina esta dedicada para todas aquellas
    personas que no disponen de linea de televisión
    pero si disponen de una computadora o un celular
    desde esta web pueden ver todos los partidos del Mundial
    de manera libre y gratuita
    
</p>
<br>
<br>
<br><br>
<br>
<button class="btn-3d1" routerLink="news">Ir a la seccion Noticias</button>
<br><br><br><br><br>
<hr>
<hr>
<br>
<br>
<a href='https://acortar.link/fz2eV3'><img src="https://imagizer.imageshack.com/img924/319/org4Yr.jpg" class="banner1"></a> 
<br>

<br>
<hr>
<hr>
<br>
<br>
<br>
<button class="btn-3d" routerLink="tcs">Acceso directo a TyC Sports</button>
<button class="btn-3d" routerLink="tsp">Acceso directo a Tnt Sports Premium</button>
<button class="btn-3d" routerLink="fsp">Acceso directo a ESPN Premium</button>
<br>
<br>
<br>
<br>
<h1 class="titulo">Mundial Qatar 2022</h1>
<img src="https://img.freepik.com/vector-premium/copa-mundial-futbol-2022-balon-futbol-3d-realista-cartel-deportivo-banner-flyer-diseno-moderno-concepto-fuente-futbol-2022-sobre-fondo-moderno_104045-1616.jpg?w=996"
    class="banner">

<br>
<br>
<hr>
<hr>