<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion España</h1>
<img src="https://imageshack.com/i/po5ZhRSVj" class="banner">
<h1>Lista Preeliminar Seleccion Costa Rica</h1>
<img src="https://imageshack.com/i/pnCz2CQkj" class="banner">
<h1>Lista Preeliminar Seleccion Alemania</h1>
<img src="https://imageshack.com/i/poPbYuZCj" class="banner">
<h1>Lista Preeliminar Seleccion Japon</h1>
<img src="https://imageshack.com/i/pmnVhYJlj" class="banner">