<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Inglaterra</h1>
<img src="https://imageshack.com/i/pmRek314j" class="banner">
<h1>Lista Preeliminar Seleccion Irán</h1>
<img src="https://imageshack.com/i/poVXM5UCj" class="banner">
<h1>Lista Preeliminar Seleccion EE.UU</h1>
<img src="https://imageshack.com/i/pnM7zDCmj" class="banner">
<h1>Lista Preeliminar Seleccion Gales</h1>
<img src="https://imageshack.com/i/pm1WxiCIj" class="banner">