<h1 class="titulo">Listas Preeliminares de cada seleccion</h1>
<p class="parrafo">En este apartado van a estar todas las listas Preeliminares de cada seleccion
    para ingresar en cada una de ellas solamente tenes que tocar en la bandera de cada país
</p>
<a href="ga"><img src="https://imageshack.com/i/pnW7Awoyj" class="ga"></a> 
<a href="gb"><img src="https://imageshack.com/i/pmZVONrvj" class="gb"></a> 
<a href="gc"><img src="https://imageshack.com/i/poqBgNh1j" class="gc"></a> 
<a href="gd"><img src="https://imageshack.com/i/poOkqdFsj" class="gd"></a> 
<a href="ge"><img src="https://imageshack.com/i/pnMTHyLEj" class="ge"></a> 
<a href="gf"><img src="https://imageshack.com/i/poNlsexJj" class="gf"></a> 
<a href="gg"><img src="https://imageshack.com/i/poYtY50Yj" class="gg"></a> 
<a href="gh"><img src="https://imageshack.com/i/po0nEQESj" class="gh"></a> 
