<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Francia</h1>
<img src="https://imageshack.com/i/pmTL49wkj" class="banner">
<h1>Lista Preeliminar Seleccion Australia</h1>
<img src="https://imagizer.imageshack.com/img922/4750/3efDbD.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Dinamarca</h1>
<img src="https://imageshack.com/i/poywjUqbj" class="banner">
<h1>Lista Preeliminar Seleccion Tunez</h1>
<img src="https://imageshack.com/i/pmKhSDdbj" class="banner">