<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion Portugal</h1>
<img src="https://imagizer.imageshack.com/img922/5353/R1sjYh.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Ghana</h1>
<img src="https://imagizer.imageshack.com/img923/9780/GmuA4M.jpg" class="banner">
<h1>Lista Preeliminar Seleccion Uruguay</h1>
<img src="https://imageshack.com/i/pmhk24Awj" class="banner">
<h1>Lista Preeliminar Seleccion Corea del Sur</h1>
<img src="https://imagizer.imageshack.com/img923/4888/psLAe6.jpg" class="banner">