<nav class="navegador">
    <ul>
        <a href=''><img src="https://imageshack.com/i/pooPEXX5p" class="Aprograma"></a> 
        <b class="APText">Bienvenidos a Mundial para todos - 2022 </b>
    </ul>
</nav>

<h1>Lista Preeliminar Seleccion QATAR</h1>
<img src="https://imageshack.com/i/poYPSk1wj" class="banner">
<h1>Lista Preeliminar Seleccion Ecuador</h1>
<img src="https://imageshack.com/i/poavplY7j" class="banner">
<h1>Lista Preeliminar Seleccion Holanda</h1>
<img src="https://imageshack.com/i/poCNVqJgj" class="banner">
<h1>Lista Preeliminar Seleccion Senegal</h1>
<img src="https://imageshack.com/i/pmXGbWhJj" class="banner">